.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.left-nav {
  display: flex;
  gap: 24px;
  align-items: center;
}
.nav-p {
  display: flex;
  gap: 32px;
  font-weight: bold;
}

.right-nav {
  display: flex;
  gap: 24px;
  align-items: center;
}
.right-nav a {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #2b6fb3;
}
